body {
    background-color: #7c3aed;
}

@media (max-width: 768px) {
    body {
        background-color: #9333ea;
    }
}

@media (max-width: 425px) {
    body {
        background-color: #c026d3;
    }
}