* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border: 1px solid;
    text-align: center;
    background-color: gray;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

main {
    border: 1px solid;
    margin: 1em 0;
    padding: 0 1em;
    display: flex;
}

main section {
    width: 80%;
    border: 1px solid;
    margin: 1em 0;
    margin-right: 1vw;
}

main aside {
    width: 20%;
    border: 1px solid;
    margin: 1em 0;
}

footer {
    border: 1px solid;
    background-color: gray;
    text-align: center;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        background-color: aqua;
    }

    main section {
        width: 100%
    }

    main aside {
        width: 100%
    }
}

@media (max-width: 425px){
    main {
        background-color: blue;
    }
}