body {
    background-color: #27272a;
}

.box-main {
    background-color: #a78bfa;
    height: 600px;

    display: flex;
    gap: 10px;
    /* row-gap: 10px; */
    /* column-gap: 10px; */
    /* gap: 10px 30px; */

    /* flex-direction: column; */
    flex-wrap: nowrap;
    /* flex-flow: column wrap; */
    
    /* justify-content: center; */
    /* align-items: center; */
}

.box-item {
    width: 200px;
    height: 200px;
    background-color: #6d28d9;
}

#item-3 {
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    /* flex-basis: 10px; */
    /* flex: grow shrink basis; */

    /* align-self: center; */

    /* order: 2; */
}